::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(207, 207, 207);
  opacity: 1; /* Firefox */
}

body, html {
  display: flex;
  width: 100%;
  height: 100%;
  color: white;
  overflow: hidden;
  margin: 0;
  font-family: 'Anek Bangla', sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
  gap: 6px;
  overflow: hidden;
}


#logArea {
  border-radius: 4px;
  padding: 10px;
  flex: 1;
  overflow: auto;
  background-color: transparent;
  transition: 0.2s;
}
#logArea.show-animate {
  animation: logFadeIn 0.2s;
  animation-fill-mode: forwards;
}


@keyframes logFadeIn {
  from {
    background-color: rgba(0,0,0,0);
  }
  to {
    background-color: rgba(0,0,0,0.4);
  }
}


#chatArea {
  display: flex;
  align-items: center;
  opacity: 0;
  border-radius: 4px;
  flex-shrink: 0;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
  background-color: transparent;

  transition: 0.2s;
}


#chatArea.show-animate {
  animation: chatFadeIn 0.2s;
  animation-fill-mode: forwards;
}


@keyframes chatFadeIn {
  from {
    background-color: rgba(0,0,0,0);
    opacity: 0;
  }
  to {
    background-color: rgba(0,0,0,0.4);
    opacity: 1;
  }
}



.message-item {
  line-height: 1.6;
  
}
.message-item .username {
  text-shadow: 1px 1px 0px black;
}
.message-item .message {
  color: white;
  text-shadow: 1px 1px 0px black;
}
.message-item {
  transition: 0.2s;
}

.message-item.hide-animate {
  animation: fadeOut 3s;
  animation-delay: 5s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#chatInput {
  width: 100%;
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
  margin-left: 5px;
  margin-right: 10px;
  text-shadow: 1px 1px 0px black;
  height: 100%;
}


::-webkit-scrollbar {
  display: none;
}


#me {
  display: none;
  padding-left: 10px;
  flex-shrink: 0;
  text-shadow: 1px 1px 0px black;

}