name: Build/release

on: push

jobs:
  release:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [windows-latest]

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v3

      - name: Install Node.js, NPM and Yarn
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'npm'

      - name: install Dependencies
        run: |
          cd client
          npm install -g npm@latest
          npm install -g node-gyp@latest
          node -v
          npm -v
          npm ci
      - name: Rebuild native modules
        run: npm run rebuild
